.feedback-panel {
    position: fixed;
    top: 50%;
    right: -370px;
    transition: .3s ease-in-out;
    transform: translateY(-50%);
}

.feedback-panel:hover {
    right: -350px;

}

.feedback-panel.show {
    right: 0;
}

.feedback-form {
    background: #ffffff;
    /*border: 1px solid #c0c4cc;*/
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 20px 0 #00000020;
}

.feedback-trigger {
    background: #2781dd;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px 6px 0 0;
    rotate: 270deg;
    position: absolute;
    top: 0;
    left: 0;
    translate: -73% 120%;
}

.feedback-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #1c1c1c;

}

.feedback-form input, .feedback-form textarea {
    width: 100%;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    padding: 15px;
}

.feedback-form .input-group {
    margin-top: 15px;
}

.feedback-form .btn {
    background: #2781dd;
    border: 1px solid #2781dd;
    color: #fff;
    padding: 8px 25px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 6px;
}

.feedback-form .alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.feedback-form .hidden {
    display: none;
}

.feedback-form .alert.alert-success {
    background: #0e8721;
    color: #fff;

}
